*,
*:before,
*:after {
  box-sizing: border-box;
  clear: both;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
}

.site-wraper {
  position: relative;
  overflow: hidden;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}


.site-wrapper {
  padding-inline: 20px;
}

.site-header {
  text-align: center;
  padding-top: 50px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 40px;
}

p,
ul li,
td {
  font-size: 20px;
}

.my-40 {
  margin: 40px 0;
}

.info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

.info a {
  color: #000;
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
}

table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  padding: 10px 10px 15px 10px;
}

.contact-form {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  column-gap: 80px;
}

label {
  width: calc(15% - 40px);
  font-size: 20px;
}

input,
textarea {
  width: calc(85% - 40px);
  border-radius: 5px;
}

@media (max-width: 500px) {

  input,
  textarea {
    width: 100%;
  }

  label {
    width: 100%;
  }
}

input {
  border: 1px solid black;
  height: 30px;
}

textarea {
  border: 1px solid black;
}

textarea {
  min-height: 100px;
}

.btn-wrapper {
  display: flex;
  justify-content: end;
}

button {
  display: block;
  max-width: 70px;
  font-size: 20px;
  border-radius: 4px;
  background: #fff;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}